*{
    padding: 0px;
    margin: 0px;
    font-family: 'Righteous', 'sans-serif';
    background: blueviolet;
}

#container{
    margin-top: 8%;
    text-align: center;
}

#title{
    position: absolute;
    left: 38%;
    top: 3%;
    display: block;
}

h1{
    margin-bottom: 10px;
}

button{
    position: relative;
    left: 35%;
    padding: 5px;
    border-radius: 12px;
}

#concordo{
    display: none;
}

#discordo{
    display: none;
}

p{
    font-size: 20px;
    margin-bottom: 11px;
    margin-left: 14px;
}

.negrito{
    font-size: 30px;
    color: white;
}

button:hover {
    background-color:white ;
}

.maquiavel {
    
}

.lastp {
    margin-bottom: 60px;
}