*{
    padding: 0px;
    margin: 0px;
    font-family: 'Righteous', 'sans-serif';
}

#container{
    margin-top: 8%;
    text-align: center;
}

.title{
    position: absolute;
    left: 38%;
    top: 3%;
}

h1{
    margin-bottom: 10px;
}

button{
    position: relative;
    left: 35%;
    padding: 5px;

}

#concordo{
    display: none;
}

#discordo{
    display: none;
}

p{
    margin-bottom: 11px;
    margin-left: 14px;
}

.negrito{
    font-size: 20px;
    color: blue;
}