*{
    padding: 0px;
    margin: 0px;
    font-family: 'Righteous', 'sans-serif';
    background-color: blueviolet;
}


.maintitle{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

p{
    margin-left: 15px;
    font-size: 20px;
    text-align: center;
}

.door{
    margin-top: 40px;
    width: 130px;
    height: 200px;
    align-items: center;
    cursor: pointer;
}

.doors{
    margin-left: 30px;
    margin-right: 30px;
}